.dashboardLogo{
    font-size: 25px;
}
.deleteBtn{
    font-size: 35px;
}
.cartLogo{
    font-size: 40px;
}
.arrowLogo{
    font-size: 20px;
}

@media only screen and (max-width: 1024px) {
    .dashboardLogo{
        font-size: 20px;
    }
    .deleteBtn{
        font-size: 30px;
    }
    .cartLogo{
        font-size: 35px;    
    }
    .arrowLogo{
        font-size: 15px;
    }
    
}

@media only screen and (max-width: 768px) {
    .dashboardLogo{
        font-size: 15px;
    }
    .deleteBtn{
        font-size: 25px;
    }
    .cartLogo{
        font-size: 30px;    
    }
    
}


/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}